Repository quack-ai/companion, changes with the labels that .github/labeler.yml gives for each.
All labels: ext: tests, ext: scripts, ext: dashboard, module: database, module: services, module: core, module: models, module: schemas, module: crud, endpoint: login, endpoint: users, endpoint: repos, endpoint: guidelines, topic: build, topic: migration, topic: ci, topic: docker, topic: documentation, topic: security, type: code quality

.github/labeler.yml:

'ext: tests':
- src/tests/*

'ext: scripts':
- scripts/*

'ext: dashboard':
- dashboard/*

'module: database':
- src/app/db.py

'module: services':
- src/app/services/*

'module: core':
- src/app/main.py
- src/app/core/*

'module: models':
- src/app/models.py

'module: schemas':
- src/app/schemas/*

'module: crud':
- src/app/crud/*

'endpoint: login':
- src/app/api/*/endpoints/login.py

'endpoint: users':
- src/app/api/*/endpoints/users.py

'endpoint: repos':
- src/app/api/*/endpoints/repos.py

'endpoint: guidelines':
- src/app/api/*/endpoints/guidelines.py

'topic: build':
- pyproject.toml
- poetry.lock

'topic: migration':
- src/alembic.ini
- src/alembic/*

'topic: ci':
- .github/*

'topic: docker':
- docker-compose.yml
- docker-compose.test.yml
- Dockerfile
- traefik/*

'topic: documentation':
- README.md
- CONTRIBUTING.md
- CODE_OF_CONDUCT.md

'topic: security':
- src/app/api/dependencies.py
- src/app/security.py

'type: code quality':
- .pre-commit-config.yaml

feat: Updates dashboard
  dashboard/app.py
Labels: ext: dashboard

feat: Updates app
  dashboard/app.py
Labels: ext: dashboard

feat: Updates dashboard
  dashboard/app.py
Labels: ext: dashboard

refactor: Removed dashboard
  dashboard/Dockerfile
  dashboard/app.py
  dashboard/poetry.lock
  dashboard/pyproject.toml
Labels: ext: dashboard

feat: Add guideline order column
  src/app/api/api_v1/endpoints/guidelines.py
  src/app/crud/crud_guideline.py
  src/app/models.py
  src/app/schemas/guidelines.py
Labels: module: models, module: schemas, module: crud, endpoint: guidelines

feat: Added automatic registration with GitHub token
  src/app/api/api_v1/endpoints/login.py
Labels: endpoint: login

docs: Updates license notice
  src/app/api/api_v1/endpoints/guidelines.py
  src/app/api/api_v1/endpoints/login.py
  src/app/api/api_v1/endpoints/repos.py
  src/app/api/api_v1/endpoints/users.py
  src/app/api/api_v1/router.py
  src/app/api/dependencies.py
  src/app/core/config.py
  src/app/core/security.py
  src/app/crud/base.py
  src/app/crud/crud_guideline.py
  src/app/crud/crud_repo.py
  src/app/crud/crud_user.py
  src/app/db.py
  src/app/main.py
  src/app/models.py
  src/app/schemas/base.py
  src/app/schemas/guidelines.py
  src/app/schemas/login.py
  src/app/schemas/repos.py
  src/app/schemas/users.py
Labels: module: database, module: core, module: models, module: schemas, module: crud, endpoint: login, endpoint: users, endpoint: repos, endpoint: guidelines, topic: security

refactor: Improves GH user verification
  src/app/api/api_v1/endpoints/login.py
Labels: endpoint: login

fix: Fixes the authentication on swagger
  src/app/api/dependencies.py
Labels: topic: security

style: Fixes typing
  src/app/api/api_v1/endpoints/guidelines.py
Labels: endpoint: guidelines

feat: Adds end to end script
  scripts/test_e2e.py
Labels: ext: scripts

docs: Updates readme
  README.md
Labels: topic: documentation

docs: Adds e2e test in the makefile
  Makefile
Labels: none

feat: Adds docker compose test
  docker-compose.test.yml
Labels: topic: docker

ci: Adds CI
  .github/license-notice.txt
  .github/workflows/scripts.yml
  .github/workflows/tests.yml
Labels: topic: ci

docs: Fixes license notice
  src/alembic/env.py
Labels: topic: migration

docs: Removed legacy license
  LICENSE
  pyproject.toml
Labels: topic: build

docs: Updates README
  README.md
Labels: topic: documentation

docs: Updates README
  README.md
Labels: topic: documentation

fix: Fixes table
  src/app/models.py
Labels: module: models

ci: Removes CI step
  .github/workflows/style.yml
Labels: none

ci: Fixes CI
  .github/workflows/style.yml
Labels: none

style: Fixes typing
  src/app/models.py
Labels: module: models

docs: Updates README
  README.md
Labels: topic: documentation
