Repository quack-ai/companion, changes with the labels that .github/labeler.yml gives for each.
All labels: ext: tests, ext: scripts, ext: apm, ext: demo, module: core, module: database, module: services, module: models, module: schemas, module: crud, endpoint: login, endpoint: users, endpoint: repos, endpoint: guidelines, endpoint: compute, endpoint: code, topic: build, topic: migration, topic: ci, topic: docker, topic: docs, topic: style

[ImgBot] Optimize images
  demo/assets/paper-plane.png
  demo/assets/profile-user.png
  demo/assets/stop-button.png
  docs/db_uml.png
Labels: none

feat(docker): cleans docker orchestration
  .env.example
  docker-compose.dev.yml
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
Labels: topic: docker

docs(makefile): update makefile
  Makefile
Labels: none

feat(ollama): add timeout on model pull
  src/app/core/config.py
  src/app/services/ollama.py
Labels: module: core, module: services

fix(ollama): fix typo in ollama
  src/app/services/ollama.py
Labels: module: services

fix(build): fix build jobs
  .github/workflows/builds.yml
Labels: none

ci(build): add debug
  .github/workflows/builds.yml
Labels: none

ci(build): fix CI jobs
  .github/workflows/builds.yml
Labels: none

feat(docker): add final healthcheck
  docker-compose.yml
Labels: topic: docker

ci(docker): wait for healthy status
  .github/workflows/builds.yml
  .github/workflows/scripts.yml
  .github/workflows/tests.yml
Labels: none

docs(makefile): wait for healthy status
  Makefile
Labels: none

.github/labeler.yml:

'ext: tests':
- changed-files:
  - any-glob-to-any-file: src/tests/*

'ext: scripts':
- changed-files:
  - any-glob-to-any-file: scripts/*

'ext: apm':
- changed-files:
  - any-glob-to-any-file: apm/*

'ext: demo':
- changed-files:
  - any-glob-to-any-file: demo/*

'module: core':
- changed-files:
  - any-glob-to-any-file:
    - src/app/main.py
    - src/app/core/*

'module: database':
- changed-files:
  - any-glob-to-any-file: src/app/db.py

'module: services':
- changed-files:
  - any-glob-to-any-file: src/app/services/*

'module: models':
- changed-files:
  - any-glob-to-any-file: src/app/models.py

'module: schemas':
- changed-files:
  - any-glob-to-any-file: src/app/schemas/*

'module: crud':
- changed-files:
  - any-glob-to-any-file: src/app/crud/*

'endpoint: login':
- changed-files:
  - any-glob-to-any-file: src/app/api/*/endpoints/login.py

'endpoint: users':
- changed-files:
  - any-glob-to-any-file: src/app/api/*/endpoints/users.py

'endpoint: repos':
- changed-files:
  - any-glob-to-any-file: src/app/api/*/endpoints/repos.py

'endpoint: guidelines':
- changed-files:
  - any-glob-to-any-file: src/app/api/*/endpoints/guidelines.py

'endpoint: compute':
- changed-files:
  - any-glob-to-any-file: src/app/api/*/endpoints/compute.py

'endpoint: code':
- changed-files:
  - any-glob-to-any-file: src/app/api/*/endpoints/code.py

'topic: build':
- changed-files:
  - any-glob-to-any-file:
    - pyproject.toml
    - poetry.lock

'topic: migration':
- changed-files:
  - any-glob-to-any-file:
    - src/alembic.ini
    - src/alembic/*

'topic: ci':
- changed-files:
  - any-glob-to-any-file: .github/*

'topic: docker':
- changed-files:
  - any-glob-to-any-file:
    - docker-compose.*
    - src/Dockerfile
    - demo/Dockerfile
    - .env.example

'topic: docs':
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - CONTRIBUTING.md
    - CODE_OF_CONDUCT.md

'topic: style':
- changed-files:
  - any-glob-to-any-file: .pre-commit-config.yaml
