Repository quack-ai/companion, pull requests merged in 2024-05, with the labels that each got.

#157 feat(llm): enable the choice of LLM provider
  .env.example
  .github/labeler.yml
  .github/workflows/builds.yml
  .github/workflows/push.yml
  .github/workflows/scripts.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
  demo/main.py
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  poetry.lock
  pyproject.toml
  src/app/api/api_v1/endpoints/code.py
  src/app/api/api_v1/endpoints/login.py
  src/app/api/dependencies.py
  src/app/core/config.py
  src/app/core/security.py
  src/app/schemas/services.py
  src/app/services/llm/groq.py
  src/app/services/llm/llm.py
  src/app/services/llm/ollama.py
  src/app/services/llm/openai.py
  src/tests/endpoints/test_code.py
  src/tests/services/test_github.py
  src/tests/services/test_llm.py
  src/tests/test_security.py
Labels: module: core, module: schemas, endpoint: login, topic: build, topic: ci, topic: docker, type: feat, ext: tests, endpoint: code, ext: demo, topic: llm

#162 build(deps): speed up uvicorn by using uvloop & httptools
  poetry.lock
  pyproject.toml
Labels: type: improvement, topic: build

#163 feat(llm): add alternative support of OpenAI API
  .env.example
  .github/workflows/push.yml
  CONTRIBUTING.md
  docker-compose.prod.yml
  docker-compose.yml
  docs/developers/self-hosting.mdx
  poetry.lock
  pyproject.toml
  src/app/api/api_v1/endpoints/code.py
  src/app/core/config.py
  src/app/schemas/services.py
  src/app/services/llm/groq.py
  src/app/services/llm/llm.py
  src/app/services/llm/ollama.py
  src/app/services/llm/openai.py
  src/app/services/llm/utils.py
  src/tests/services/test_llm.py
Labels: topic: docs, module: core, module: schemas, topic: build, topic: docker, type: feat, endpoint: code, topic: llm

#166 docs(readme): fix typo on Hugging Face spelling
  scripts/ollama/README.md
Labels: topic: docs, type: improvement

#168 docs(version): bump project version to 0.1.1.dev0
  pyproject.toml
  src/app/core/config.py
Labels: module: core, topic: build, type: misc
